a {
  color: #090;
}

h1 {
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

h3 {
  margin-bottom: 4px;
}

.navbar.bg-dark {
  background-color: #008000 !important;
}

.navbar .navbar-brand {
  color: white;
  font-weight: bold;
}

.well {
  background-color: #eee;
  border-radius: 4px;
}

.spaced {
  display: flex;
  justify-content: space-around;
}

.col-form-label {
  font-weight: bold;
}

.modal-content {
  background: transparent;
}

.modal-body {
  background: white;
}

.modal-header {
  background-color: #008000;
  color: white;
}

.modal-footer {
  background-color: #008000;
}

td {
  width: 285px;
}

td.data_cell {
  text-align: right;
}

.btn {
  margin-right: 14px;
}

.urgent {
  font-weight: bold;
}

.peek_range_job_body {
 height: 80px;
 width: 300px;
 word-wrap: break-word;
 overflow-y: scroll;
}
