<div class="modal" id="job_info_popup" style="display:none;">
	<div class="modal-header">
    	<a class="close" data-dismiss="modal">×</a>
    	<h3>Job Info</h3>
  	</div>
	<div class="modal-body" id="job_info_popup_body">
  	</div>
  	<div class="modal-footer" id="job_info_popup_footer">
  	</div>
</div>