<div class="row">
	<div class="span12">
		  <h2>Statistics</h2>
	      <table class="table">
	        <thead>
	          <tr>
	            <th>Key</th>
	            <th>Value</th>
	          </tr>
	        </thead>
	        <tbody>
			  <% @stats.keys.each do |key| %>
	          <tr>
	            <td><%= key %></td>
	            <td><%= @stats[key] %></td>
	          </tr>
			  <% end %>
	        </tbody>
	      </table>
	  </div>
</div>