<div class="row">
	<div class="span6">
      <table class="table">
        <thead>
          <tr>
            <th>Server</th>
            <th>Tubes</th>
          </tr>
        </thead>
        <tbody>
		  <% @tubes.keys.each do |key| %>
        	<% @tubes[key].each do |tube| %>
		  <tr>
            <td><%= key %></td>
			<td><a href="/beanstalkd/tube/<%= tube %>"><%= tube %></a></td>
			</tr>
			<% end %>
		  <% end %>
		</tbody>
      </table>
	</div>
	
	<div class="span6">
  </div>
</div>